@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-Inter font-normal text-base leading-6 bg-gray;
}

.container {
	@apply max-w-[1424px] mx-auto;
}

.btn {
	@apply bg-purple rounded-md px-7 py-[13px] text-white hover:opacity-[75%] duration-200;
}

.btn-outline {
	@apply bg-transparent rounded-md px-7 py-[13px] text-purple border border-purple hover:bg-[#a474f7] hover:border-transparent hover:text-white duration-200;
}

.btn.focus,
.btn:focus {
	@apply shadow-none;
}

.copy-btn:hover svg path {
	@apply stroke-purple
}

.copy-btn:focus svg path {
	@apply stroke-green
}

.trash-btn:hover svg path {
	@apply stroke-white
}

.download-btn:hover svg path {
	@apply stroke-white;
}

.download-btn:focus svg path {
	@apply stroke-white;
}

.form-title {
	@apply font-medium text-base leading-6 text-[#374151];
}

.form-info {
	@apply font-normal text-base leading-6 text-primary
}

.form-star {
	@apply ml-[2px] mx-[6px] block mb-2;
}

.sellect-dropdown {
	@apply rounded-md py-[11px] px-[20px] outline-none leading-6 text-primary text-base
}

.form-input {
	@apply border-[#DFE4EA] rounded-md px-[20px] py-[11px] outline-none border w-full text-dark placeholder:text-[#9CA3AF];
}

.form-input:disabled {
	@apply bg-gray-2
}

.select-input {
	@apply absolute bg-[#fff] border border-[#DFE4EA] text-base rounded-md placeholder:font-normal placeholder:leading-6 top-0 left-0 w-full h-full cursor-pointer px-[20px] py-[11px] placeholder:text-primary outline-none text-dark
}

.option {
	@apply left-0;
	box-shadow: 0px 1px 3px 0px #A6AFC366;
}

.option-scroll::-webkit-scrollbar {
	@apply bg-transparent w-[6px];
}

.option-scroll::-webkit-scrollbar-thumb {
	@apply bg-[#DFE4EA] rounded-[10px] h-[6px];
}

/* selec */
.sellect-dropdown {
	@apply h-[46px];
}

.sellect-dropdown.active .select-input {
	@apply border-[#C4B5FD];
}

.sellect-dropdown::before {
	@apply content-[url("../images/icons/arrow-down.svg")] z-50 absolute right-[20px] top-[35%] translate-y-[-50%] w-[12px] h-[12px];
}

.catalog .sellect-dropdown::before {
	@apply right-[15px];
}

.sellect-dropdown.active::before {
	@apply rotate-180 top-[62%]
}

.open-box.active svg {
	@apply rotate-0
}

.soccial-media:hover {
	@apply bg-purple
}

.soccial-media:hover svg path {
	@apply fill-white
}

footer::before {
	content: "";
	position: absolute;
	bottom: -20%;
	left: -6%;
	width: 281px;
	height: 281px;
	border-radius: 50%;
	background: linear-gradient(180deg, rgba(134, 70, 244, 0.08) 0%, rgba(196, 196, 196, 0) 100%);
	transform: rotate(157deg);
}

.footer-bottom::before {
	content: "";
	position: absolute;
	top: -30%;
	right: -6%;
	width: 309.68px;
	height: 309.68px;
	border-radius: 50%;
	background: linear-gradient(180deg, rgba(151, 71, 255, 0.08) 0%, rgba(196, 196, 196, 0) 100%);
	transform: rotate(28.73deg);
}